input:focus {
  border: none !important;
  outline: none !important;
}

input:active {
  border: none !important;
  outline: none !important;
}

.createPost {
  margin: 100px;
}

.textarea {
  resize: none;
}


textarea:focus {
  border: none !important;
}

textarea:active {
  border: 1px solid #ced4da !important;
}




.posts {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 24px; /* Remove margins */
  border-radius: 10px;
}

.posts li {
  box-shadow: -9px 8px 15px black;
  margin: 20px;
  padding: 5vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}



.posts span {
  float: right;
}

.posts p{
  padding-top: 20px;
  float: left;
}

.posts h3 {
  padding-bottom: -70px;
  padding-left: -150px;
  overflow: scroll;
}

.info {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file {
  position: relative;
  display: block;
  cursor: pointer;
  height: 2.5rem;
  border-color: gray;
  --border-opacity: 1;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  }
  
  #file {
    box-sizing: border-box;
  font: 1rem/1.5 "Helvetica Neue", Arial, sans-serif;
  min-width: 14rem;
  margin: 0;
  opacity: 0;
  }
  
  .file-custom {
  cursor: pointer;
  padding-top: 8px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  border-radius: .25rem;
  user-select: none;
  
  }
  

.drop{
  display: none;
}

.text-center {
   width: fit-content;
   margin: 0 auto;
}

@media (min-width: 640px) { 
  .drop{
    display: block;
  }
 }




