input:focus {
  border: none !important;
  outline: none !important;
}

input:active {
  border: none !important;
  outline: none !important;
}

.createPost {
  margin: 100px;
}

.textarea {
  resize: none;
}


textarea:focus {
  border: none !important;
}

textarea:active {
  border: 1px solid #ced4da !important;
}




.posts {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 24px; /* Remove margins */
  border-radius: 10px;
}

.posts li {
  box-shadow: -9px 8px 15px black;
  margin: 20px;
  padding: 5vh;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}



.posts span {
  float: right;
}

.posts p{
  padding-top: 20px;
  float: left;
}

.posts h3 {
  padding-bottom: -70px;
  padding-left: -150px;
  overflow: scroll;
}

.info {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop{
  display: none;
}

.text-center {
   width: fit-content;
   margin: 0 auto;
}

@media (min-width: 640px) { 
  .drop{
    display: block;
  }
 }




